/* *********************************************

[Tables of CSS Content]

+ body
  - 1.0 Reboot CSS
  - 2.0 Spacing CSS
  - 3.0 Preloader CSS
  - 4.0 Heading CSS
  - 5.0 Backtotop CSS
  - 6.0 Buttons CSS
  - 7.0 Header CSS
  - 8.0 Hero CSS
  - 9.0 Gallery CSS
  - 10.0 Testimonial CSS
  - 11.0 Model CSS
  - 12.0 About CSS
  - 13.0 Breadcrumb CSS
  - 14.0 Blog CSS
  - 15.0 Cta CSS
  - 16.0 Team CSS
  - 17.0 Widget CSS
  - 18.0 Footer CSS
  - 19.0 Contact CSS
  ---------------------------------------------
  [Color Codes]

  $heading: #232323; [Heading Color]
  $text: #666666; [Text Color]
  $bg-gray: #f0f0f0; [Gray Background]
  $primary: #ed489d; [Primary Color]
  $white: #ffffff; [White Color]
  $dark: #000000; [Dark Color]
  $border: #ebebeb; [Border Color]
  $hover: #ed489d; [Hover Color]
  $secondary: #a6a6a6; [Secondary Color]

  ---------------------------------------------
  [Font Family: 'HK Grotesk']
--------------------------------------------- */
/* Import Fonts & All CSS */
@import url(css/default-assets/hkgrotesk-fonts.css);
@import url(css/bootstrap.min.css);
@import url(css/animate.css);
@import url(css/default-assets/classy-nav.css);
@import url(css/owl.carousel.min.css);
@import url(css/magnific-popup.css);
@import url(css/font-awesome.min.css);
@import url(css/default-assets/slick.css);
@import url(css/style.css);
/* :: 1.0 Reboot CSS */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "HK Grotesk";
  font-weight: 400;
  font-size: 14px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "HK Grotesk";
  color: #232323;
  line-height: 1.4;
  font-weight: 600; }

a,
a:active,
a:focus,
a:hover {
  color: #232323;
  text-decoration: none;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  outline: none; }

li {
  list-style: none; }

p {
  line-height: 1.9;
  color: #666666;
  font-size: 16px;
  font-weight: 400; }

img {
  max-width: 100%;
  height: auto; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    margin: 0;
    padding: 0; }

.bg-overlay {
  position: relative;
  z-index: 1; }
  .bg-overlay::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5); }

.box-shadow {
  -webkit-box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2); }

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.jarallax {
  position: relative;
  z-index: 0; }
  .jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }

.mfp-iframe-holder .mfp-close {
  top: 0;
  width: 30px;
  height: 30px;
  background-color: #ed489d;
  text-align: center;
  right: 0;
  padding-right: 0;
  line-height: 32px; }

.bg-transparent {
  background-color: transparent !important; }

.bg-gray {
  background-color: #f0f0f0 !important; }

/* ::2.0 Spacing CSS */
.mt-15 {
  margin-top: 15px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-70 {
  margin-top: 70px; }

.mt-100 {
  margin-top: 100px; }

.mt-150 {
  margin-top: 150px; }

.mr-15 {
  margin-right: 15px; }

.mr-30 {
  margin-right: 30px; }

.mr-50 {
  margin-right: 50px; }

.mr-100 {
  margin-right: 100px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-100 {
  margin-bottom: 100px; }

.ml-15 {
  margin-left: 15px; }

.ml-30 {
  margin-left: 30px; }

.ml-50 {
  margin-left: 50px; }

.ml-100 {
  margin-left: 100px; }

.pt-50 {
  padding-top: 50px !important; }

.section-padding-80 {
  padding-top: 80px;
  padding-bottom: 80px; }

.section-padding-0-80 {
  padding-top: 0;
  padding-bottom: 80px; }

.section-padding-80-0 {
  padding-top: 80px;
  padding-bottom: 0; }

/* :: 3.0 Preloader CSS */
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.wrapper {
  padding-left: 1em;
  padding-right: 1em;
  margin: auto;
  display: block;
  width: 195px; }

.cssload-loader {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  margin: 3em;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background: #ffffff; }

.cssload-loader,
.cssload-loader:after,
.cssload-loader:before {
  animation: 1.15s infinite ease-in-out;
  -o-animation: 1.15s infinite ease-in-out;
  -ms-animation: 1.15s infinite ease-in-out;
  -webkit-animation: 1.15s infinite ease-in-out;
  -moz-animation: 1.15s infinite ease-in-out; }

.cssload-loader:after,
.cssload-loader:before {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0; }

.cssload-loader {
  animation-name: cssload-loader;
  -o-animation-name: cssload-loader;
  -ms-animation-name: cssload-loader;
  -webkit-animation-name: cssload-loader;
  -moz-animation-name: cssload-loader; }

@keyframes cssload-loader {
  from {
    transform: scale(0);
    opacity: 1; }
  to {
    transform: scale(1);
    opacity: 0; } }
@-o-keyframes cssload-loader {
  from {
    -o-transform: scale(0);
    opacity: 1; }
  to {
    -o-transform: scale(1);
    opacity: 0; } }
@-ms-keyframes cssload-loader {
  from {
    -ms-transform: scale(0);
    opacity: 1; }
  to {
    -ms-transform: scale(1);
    opacity: 0; } }
@-webkit-keyframes cssload-loader {
  from {
    -webkit-transform: scale(0);
    opacity: 1; }
  to {
    -webkit-transform: scale(1);
    opacity: 0; } }
@-moz-keyframes cssload-loader {
  from {
    -moz-transform: scale(0);
    opacity: 1; }
  to {
    -moz-transform: scale(1);
    opacity: 0; } }
/* :: 4.0 Heading CSS */
.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 50px; }
  .section-heading h2 {
    font-size: 48px;
    text-transform: capitalize;
    margin-bottom: 0; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .section-heading h2 {
        font-size: 42px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .section-heading h2 {
        font-size: 36px; } }
    @media only screen and (max-width: 767px) {
      .section-heading h2 {
        font-size: 30px; } }
  .section-heading.white h2 {
    color: #ffffff; }

/* :: 5.0 Backtotop CSS */
#scrollUp {
  bottom: 50px;
  font-size: 22px;
  line-height: 42px;
  right: 0;
  width: 40px;
  background-color: #000;
  color: #ffffff;
  text-align: center;
  height: 40px;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  border-radius: 2px 0 0 2px; }
  #scrollUp:focus, #scrollUp:hover {
    background-color: #000000; }

/* :: 6.0 Buttons CSS */
.jabu-btn {
  position: relative;
  z-index: 1;
  min-width: 180px;
  height: 50px;
  line-height: 46px;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  padding: 0 20px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #000;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  border: 2px solid #ffffff; }
  .jabu-btn:focus, .jabu-btn:hover {
    box-shadow: none;
    background-color: #000000;
    color: #ffffff;
    border-color: #000000; }
  .jabu-btn.btn-2 {
    border-color: #000;
    color: #000;
    background-color: #ffffff; }
    .jabu-btn.btn-2:focus, .jabu-btn.btn-2:hover {
      color: #ffffff;
      background-color: #000; }

/* :: 7.0 Header CSS */
.header-area {
  position: fixed;
  z-index: 600;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms; }
  .header-area .main-header-area.sticky {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0 3px 50px rgba(0, 0, 0, 0.2);
    border-bottom: none;
    left: 0;
    z-index: 650;
    border-bottom-color: transparent; }

.classy-nav-container {
  background-color: transparent;
  padding: 0; }
  @media only screen and (max-width: 767px) {
    .classy-nav-container {
      padding: 0 15px; } }
  .classy-nav-container .classy-navbar {
    height: 100px;
    padding: 0 3%; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .classy-nav-container .classy-navbar {
        height: 70px; } }
    @media only screen and (max-width: 767px) {
      .classy-nav-container .classy-navbar {
        height: 70px; } }
    .classy-nav-container .classy-navbar .bg-curve {
      position: absolute;
      width: 60%;
      height: 100%;
      top: 0;
      right: 0;
      background-repeat: no-repeat;
      background-position: top right;
      background-size: cover; }
    @media only screen and (max-width: 767px) {
      .classy-nav-container .classy-navbar .nav-brand {
        max-width: 90px;
        margin-right: 15px; } }
    .classy-nav-container .classy-navbar .classynav ul li a {
      position: relative;
      z-index: 1;
      font-weight: 500;
      font-size: 18px;
      text-transform: capitalize;
      color: #000; }
      .classy-nav-container .classy-navbar .classynav ul li a:focus, .classy-nav-container .classy-navbar .classynav ul li a:hover {
        color: #000; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .classy-nav-container .classy-navbar .classynav ul li a {
          font-size: 14px;
          padding: 0 10px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .classy-nav-container .classy-navbar .classynav ul li a {
          border-bottom: none;
          font-size: 14px; } }
      @media only screen and (max-width: 767px) {
        .classy-nav-container .classy-navbar .classynav ul li a {
          border-bottom: none;
          font-size: 14px; } }
    .classy-nav-container .classy-navbar .classynav ul li.cn-dropdown-item ul li a {
      font-size: 14px;
      text-transform: capitalize; }
    .classy-nav-container .classy-navbar .classynav ul li.current-item a::after {
      content: '';
      position: absolute;
      width: 80%;
      height: 2px;
      background-color: #00000075;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: 1; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .classy-nav-container .classy-navbar .classynav ul li.current-item a::after {
          width: 100%;
          height: 1px; } }
      @media only screen and (max-width: 767px) {
        .classy-nav-container .classy-navbar .classynav ul li.current-item a::after {
          width: 100%;
          height: 1px; } }

.classynav ul li.has-down > a::after,
.classynav ul li.has-down.active > a::after,
.classynav ul li.megamenu-item > a::after {
  color: #ffffff; }


@media only screen and (min-width: 768px) and (max-width: 991px) {
  .classy-navbar-toggler .navbarToggler span {
    background-color: #ffffff; } }
@media only screen and (max-width: 767px) {
  .classy-navbar-toggler .navbarToggler span {
    background-color: #000; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .breakpoint-on .classy-navbar .classy-menu {
    background-color: #000;
    box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.2); }

  .breakpoint-on .classynav > ul > li > a {
    background-color: #ed489d; }

  .classycloseIcon .cross-wrap span {
    background-color: #ffffff; } }
@media only screen and (max-width: 767px) {
  .breakpoint-on .classy-navbar .classy-menu {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.2); }

  .breakpoint-on .classynav > ul > li > a {
    background-color: rgb(255, 255, 255); }

  .classycloseIcon .cross-wrap span {
    background-color: #ffffff; } }


/* :: 8.0 Hero CSS */
.single-hero {
  position: relative;
  z-index: 1;
  overflow: hidden; }
  . .owl-next {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    bottom: 0;
    right: 15%;
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    text-align: center;
    line-height: 100px;
    color: #232323;
    font-size: 30px;
    z-index: 10; }
    .single-hero .owl-next:focus, .single-hero .owl-next:hover {
      background-color: #ed489d;
      color: #ffffff; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .single-hero .owl-next {
        width: 70px;
        height: 70px;
        line-height: 70px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-hero .owl-next {
        width: 70px;
        height: 70px;
        line-height: 70px; } }
    @media only screen and (max-width: 767px) {
      .single-hero .owl-next {
        width: 50px;
        height: 50px;
        line-height: 50px; } }

.single-hero-header {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 700px;
  background-color: #ffffff; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-hero-header {
      height: 680px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-hero-header {
      height: 600px; } }
  @media only screen and (max-width: 767px) {
    .single-hero-header {
      height: 488px; } }
  .single-hero-header .main-bg-img {
    position: absolute;
    width: 40%;
    height: calc(100% - 100px);
    bottom: 0;
    right: 10%;
    z-index: 1; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-hero-header .main-bg-img {
        height: calc(100% - 70px);  } }
    @media only screen and (max-width: 767px) {
      .single-hero-header .main-bg-img {
        height: calc(100% - 100px); 
        width: 50%;
        right: 1%; } }
  

.welcome-text {
  position: relative;
  z-index: 1;
  margin-top: 100px; }
  .welcome-text h2 {
    font-size: 80px;
    color: #232323;
    display: block;
    text-transform: capitalize;
    margin-left: -9px;
    margin-bottom: 30px;
    line-height: 1; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .welcome-text h2 {
        font-size: 70px;
        margin-left: -4px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .welcome-text h2 {
        font-size: 72px;
        margin-left: -4px; } }
    @media only screen and (max-width: 767px) {
      .welcome-text h2 {
        font-size: 36px;
        margin-bottom: 15px; } }
  .welcome-text h5 {
    font-size: 18px;
    color: #a6a6a6;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 2px; }
    @media only screen and (max-width: 767px) {
      .welcome-text h5 {
        margin-bottom: 15px;
        margin-left: -10px } }
  .welcome-text a {
    padding: 0;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ed489d;
    font-weight: 600; }
    .welcome-text a:focus, .welcome-text a:hover {
      color: #232323; }

      @media only screen and (max-width: 767px) {
        .welcome-text a {
          margin-left: -10px } }

/* :: 9.0 Gallery CSS */
.jabu-projects-menu {
  position: relative;
  z-index: 1; }
  .jabu-projects-menu .btn {
    padding: 0;
    background-color: transparent;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #a6a6a6;
    margin: 0 30px;
    font-weight: 600; }
    .jabu-projects-menu .btn:focus {
      box-shadow: none; }
    .jabu-projects-menu .btn.active {
      color: #232323; }

.single-project-area {
  position: relative;
  z-index: 1; }
  .single-project-area img {
    width: 100%;
    -webkit-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    transition-duration: 250ms; }
  
    
/* :: 10.0 Testimonial CSS */
.clients-feedback-area {
  position: relative;
  z-index: 1; }
  .clients-feedback-area .client-feedback-text {
    position: relative;
    z-index: 1; }
    .clients-feedback-area .client-feedback-text .quote-icon i {
      display: block;
      font-size: 72px;
      margin-bottom: 20px;
      color: #000;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
    .clients-feedback-area .client-feedback-text .client-description h4 {
      margin-bottom: 30px; }
      @media only screen and (max-width: 767px) {
        .clients-feedback-area .client-feedback-text .client-description h4 {
          font-size: 20px; } }
    .clients-feedback-area .client-feedback-text .client-name h5 {
      font-size: 22px;
      margin-bottom: 0; }
    .clients-feedback-area .client-feedback-text .client-name span {
      color: #a6a6a6;
      text-transform: uppercase;
      margin-bottom: 0; }
  .clients-feedback-area .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .clients-feedback-area .slick-dots li button {
      width: 12px;
      height: 12px;
      text-indent: -999999999999999999999999px;
      border: 3px solid #ebebeb;
      background-color: #ffffff;
      border-radius: 50%;
      margin: 5.5px;
      outline: none; }
    .clients-feedback-area .slick-dots li.slick-active button {
      background-color: #000;
      border-color: #000; }
  .clients-feedback-area .slick-slide.client-thumbnail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 354px; }
  .clients-feedback-area .slick-slide img {
    display: block;
    width: 80px !important;
    height: 80px !important;
    border-radius: 50%;
    border: 5px solid #ffffff;
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .clients-feedback-area .slick-slide img {
        width: 60px !important;
        height: 60px !important; } }
    @media only screen and (max-width: 767px) {
      .clients-feedback-area .slick-slide img {
        width: 60px !important;
        height: 60px !important; } }
  .clients-feedback-area .slick-slide.slick-current:focus {
    box-shadow: none;
    outline: none; }
  .clients-feedback-area .slick-slide.slick-current img {
    width: 100px !important;
    height: 100px !important; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .clients-feedback-area .slick-slide.slick-current img {
        width: 80px !important;
        height: 80px !important; } }
    @media only screen and (max-width: 767px) {
      .clients-feedback-area .slick-slide.slick-current img {
        width: 80px !important;
        height: 80px !important; } }
    .clients-feedback-area .slick-slide.slick-current img:focus {
      box-shadow: none;
      outline: none; }
  .clients-feedback-area .slick-arrow {
    position: absolute;
    width: 30px;
    background-color: #ffffff;
    height: 100%;
    text-align: center;
    font-size: 24px;
    color: #b5aec4;
    display: block;
    line-height: 550%;
    left: 0;
    z-index: 90;
    cursor: pointer;
    margin-top: 108px; }
    .clients-feedback-area .slick-arrow.fa-angle-right {
      left: auto;
      right: 0;
      top: 0; }


/* :: 12.0 Project CSS */
.project-thumbnail {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%; }
  .project-thumbnail img {
    width: 100%;
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms; }

.project-content {
  position: relative;
  z-index: 1;
  padding-left: 10%; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .project-content {
      padding-left: 0; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .project-content {
      padding-left: 0; } }
  @media only screen and (max-width: 767px) {
    .project-content {
      padding-left: 0; } }
  .project-content h2 {
    font-size: 48px;
    margin-bottom: 15px;
    line-height: 1.3; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .project-content h2 {
        font-size: 28px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .project-content h2 {
        font-size: 30px; } }
    @media only screen and (max-width: 767px) {
      .project-content h2 {
        font-size: 30px; } }
  .project-content p {
    margin-bottom: 30px; }
    .project-content p:last-child {
      margin-bottom: 0; }



/* :: 13.0 Breadcrumb CSS */
.breadcumb-area {
  position: relative;
  z-index: 1;
  height: 270px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .breadcumb-area {
      height: 220px; } }
  @media only screen and (max-width: 767px) {
    .breadcumb-area {
      height: 180px; } }
  .breadcumb-area .title {
    font-size: 60px;
    margin-bottom: 0;
    text-transform: capitalize; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .breadcumb-area .title {
        font-size: 48px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .breadcumb-area .title {
        font-size: 36px; } }
    @media only screen and (max-width: 767px) {
      .breadcumb-area .title {
        font-size: 30px; } }
  .breadcumb-area .breadcumb--con .breadcrumb {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0; }
    .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item,
    .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item > a,
    .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item.active {
      font-size: 18px;
      text-transform: capitalize;
      color: #232323;
      font-weight: 500;
      letter-spacing: normal; }
      @media only screen and (max-width: 767px) {
        .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item,
        .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item > a,
        .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item.active {
          font-size: 14px; } }
      .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item:focus, .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item:hover,
      .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item > a:focus,
      .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item > a:hover,
      .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item.active:focus,
      .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item.active:hover {
        color: #ed489d; }
    .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item.active {
      color: #a6a6a6; }
      .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item.active:focus, .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item.active:hover {
        color: #a6a6a6; }
    .breadcumb-area .breadcumb--con .breadcrumb .page-item:first-child .page-link {
      margin-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    .breadcumb-area .breadcumb--con .breadcrumb .page-item:last-child .page-link {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
      content: "\f105";
      font-family: 'FontAwesome'; }


/* :: 15.0 CTA CSS */
.jabu-cta-area {
  position: relative;
  z-index: 1;
  background-color: #000; }

.cta-content {
  position: relative;
  z-index: 1;
  text-align: center; }
  .cta-content h2 {
    font-size: 35px;
    margin-bottom: 10px;
    color: #ffffff; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .cta-content h2 {
        font-size: 42px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .cta-content h2 {
        font-size: 36px; } }
    @media only screen and (max-width: 767px) {
      .cta-content h2 {
        font-size: 30px; } }
  .cta-content h6 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 30px; }



/* :: 18.0 Footer CSS */
.footer-area {
  position: relative;
  z-index: 1;
  background-color: #f2f4f5; }

.single-footer-widget {
  position: relative;
  z-index: 1; }
  .single-footer-widget .widget-title {
    color: #232323;
    margin-bottom: 20px;
    display: block;
    font-weight: 600; }
  .single-footer-widget p {
    color: #666666;
    font-size: 16px;
    line-height: 1.8; }
  .single-footer-widget .footer-social-info a {
    display: inline-block;
    color: #ffffff;
    margin-right: 5px;
    background-color: #ed489d;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px; }
    .single-footer-widget .footer-social-info a.facebook {
      background-color: #4c60ac; }
    .single-footer-widget .footer-social-info a.twitter {
      background-color: #00bae3; }
    .single-footer-widget .footer-social-info a.pinterest {
      background-color: #d91a18; }
    .single-footer-widget .footer-social-info a.instagram {
      background-color: #0085d7; }
    .single-footer-widget .footer-social-info a.youtube {
      background-color: #e20000; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .single-footer-widget .footer-social-info a {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 14px; } }
  .single-footer-widget .site-link {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .single-footer-widget .site-link li {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      width: 50%; }
      .single-footer-widget .site-link li a {
        font-size: 14px;
        color: #666666;
        margin-bottom: 17px;
        display: block;
        font-weight: 500; }
        .single-footer-widget .site-link li a:focus, .single-footer-widget .site-link li a:hover {
          color: #232323; }
      .single-footer-widget .site-link li:last-child a {
        margin-bottom: 0; }
  .single-footer-widget .footer-content {
    position: relative;
    z-index: 1; }
    .single-footer-widget .footer-content h4 {
      color: #a6a6a6;
      margin-bottom: 10px; }
    .single-footer-widget .footer-content h6 {
      color: #a6a6a6;
      margin-bottom: 0; }

.copywrite-text {
  position: relative;
  z-index: 1;
  margin-top: 20px; }
  .copywrite-text p {
    font-size: 16px;
    color: #a6a6a6;
    margin-bottom: 0; }
    .copywrite-text p a {
      color: #a6a6a6; }
      .copywrite-text p a:focus, .copywrite-text p a:hover {
        color: #ed489d; }

/* :: 19.0 Contact Area */
.jabu-contact-area {
  position: relative;
  z-index: 1; }
  .jabu-contact-area .google-maps {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 650px; }
    @media only screen and (max-width: 767px) {
      .jabu-contact-area .google-maps {
        height: 280px; } }
    .jabu-contact-area .google-maps iframe {
      width: 100%;
      height: 100%;
      border: none; }

.single-contact-card {
  position: relative;
  z-index: 1; }
  .single-contact-card h2 {
    font-size: 36px;
    margin-bottom: 20px; }
    @media only screen and (max-width: 767px) {
      .single-contact-card h2 {
        font-size: 24px; } }
  .single-contact-card h6 {
    font-size: 18px;
    margin-bottom: 0;
    color: #333;
    line-height: 1.5;
    font-weight: 400; }
    @media only screen and (max-width: 767px) {
      .single-contact-card h6 {
        font-size: 14px; } }

.casting-form-thumbnail img {
  width: 100%; }

.jabu-contact-form {
  position: relative;
  z-index: 1; }
  .jabu-contact-form .contact-heading {
    margin-bottom: 20px; }
    .jabu-contact-form .contact-heading h2 {
      display: block;
      margin-bottom: 15px;
      font-size: 48px; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .jabu-contact-form .contact-heading h2 {
          font-size: 30px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .jabu-contact-form .contact-heading h2 {
          font-size: 36px; } }
      @media only screen and (max-width: 767px) {
        .jabu-contact-form .contact-heading h2 {
          font-size: 24px; } }
    .jabu-contact-form .contact-heading p {
      margin-bottom: 0;
      font-size: 16px; }
      @media only screen and (max-width: 767px) {
        .jabu-contact-form .contact-heading p {
          font-size: 14px; } }
  .jabu-contact-form label {
    font-size: 16px;
    color: #a6a6a6;
    display: block;
    margin-bottom: 15px; }
  .jabu-contact-form .form-control {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border-radius: 0; }
    .jabu-contact-form .form-control:focus {
      box-shadow: none;
      border-color: #ed489d; }
  .jabu-contact-form textarea.form-control {
    height: 110px;
    padding: 20px; }

    .stat-area {
      margin-top:80px;
    }
    
    /* line 3, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_services_section.scss */
    .stat-area .single-cat {
      background: #F5ECED;
      border-radius: 6px;
      padding: 40px 22px;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      position: relative;
      z-index: 1;
    }
    
    @media (max-width: 575px) {
      /* line 3, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_services_section.scss */
      .stat-area .single-cat {
        padding: 50px 22px;
      }
    }
    
 
    /* line 26, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_services_section.scss */
    .stat-area .single-cat .cat-icon span {
      margin-bottom: 50px;
      width: 90px;
      height: 90px;
      background: #F5ECED;
      line-height: 90px;
      text-align: center;
      border-radius: 50%;
      display: inline-block;
      font-size: 40px;
      color: #fff;
    }
    
    @media (max-width: 575px) {
      /* line 41, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_services_section.scss */
      .stat-area .single-cat .cat-cap h5 > a {
        font-size: 26px;
      }
    }
    
    
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      /* line 56, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_services_section.scss */
      .stat-area .single-cat .cat-cap p {
        font-size: 15px;
      }
    }
    
    /* line 66, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_services_section.scss */
    .stat-area .single-cat .cat-cap a {
      color: #1c165c;
      font-size: 16px;
      font-weight: 600;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }
    
    /* line 77, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_services_section.scss */
    .stat-area .single-cat.active::before {
      height: 100%;
    }
    
    /* line 87, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_services_section.scss */
    .stat-area .single-cat.active .cat-cap h5 {
      color: #fff;
    }
    
    /* line 90, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_services_section.scss */
    .stat-area .single-cat.active .cat-cap p {
      color: #fff;
    }
    
    /* line 93, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_services_section.scss */
    .stat-area .single-cat.active .cat-cap a {
      color: #fff;
    }
    
    /* line 99, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_services_section.scss */
    .stat-area .single-cat:hover::before {
      height: 100%;
    }
    
    .service{
      font-size: 48px;
    }

    @media only screen and (max-width: 767px){
    .service {
    font-size: 30px;
        }
     }

  .cursor{
    position: fixed;
    z-index: 10000;
    transform: translate(-12px, -12px);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 3px solid #e4e1e2;
    user-select: none;
    pointer-events: none;
    transition: 0.6 transform ease-in-out;
  }
